@{
 ViewBag.Title = "Error";
}

<div class="text-center">
    <h1>Error</h1>
    <h2 class="text-red">@ViewBag.ErrorMessage</h2>

    <img src="~/Images/error.png" style="width:500px;margin-top:20px;" />
</div>
